<!-- Title Bar (VB Form Title Bar) -->
<div class="titlebar">
    <div class="titlebar-left">
        <div class="app-icon">S</div>
        <div class="app-title">SaaS 2026 - Super Admin Panel</div>
    </div>
    <div class="titlebar-right">
        {% if user.is_authenticated %}
        <div class="user-info">
            <div class="user-avatar">
                {{ user.first_name.0|default:"U" }}{{ user.last_name.0|default:"S" }}
            </div>
            <span>{{ user.get_full_name|default:user.username }}</span>
        </div>
        {% else %}
        <div class="user-info">
            <div class="user-avatar">?</div>
            <span>Misafir</span>
        </div>
        {% endif %}
    </div>
</div>



